<script type="text/babel">
    const { useState, useEffect } = React;
    const { Typography, Paper, Stack, TextField, Divider } = window['MaterialUI'];
    const { ungzip } = window['pako'];

    const OrderItems = ({changeError, panel}) => {
        const [itemData, setItemData] = useState([]);

        function decompress (str) {
            if (str == null) {
                return [[]];
            }
            const binaryString = atob(str);
            const bytes = new Uint8Array(binaryString.length);
            for (let i = 0; i < binaryString.length; i++) {
                bytes[i] = binaryString.charCodeAt(i);
            }
            return (new TextDecoder().decode(ungzip(bytes.buffer)));
        }

        function setData(data){
            const parsedData = JSON.parse(decompress(data));
            setItemData(JSONToFormat(parsedData));
        }

        function mapData(){
            return <Item itemData={itemData}> </Item>;
        }

        useEffect(() => {
            google.script.run.withSuccessHandler(setData).getPanelData(panel, false);
            console.log("Grabbing Panel Data")
        }, []);

        return (
            <div>
                <Paper elevation={2}>
                    <Box sx={{ p:3 }}>
                        <Stack direction="row" justifyContent="space-between" spacing={2}>
                            <Typography variant="h3" gutterBottom="true">{panel}</Typography>
                        </Stack>
                        {mapData()}
                    </Box>
                </Paper>
            </div>
        );
    }
</script>