<script type="text/babel">
    const { useState, useEffect } = React;
    const { Typography, Paper, Stack, TextField, Divider } = window['MaterialUI'];
    const { ungzip } = window['pako'];

    function stringToData(arg) {
        if (arg === "true") {
            return true;
        } else if (arg === "false") {
            return false;
        } else if (arg === "null") {
            return null;
        } else if (arg === "undefined") {
            return undefined;
        } else if (arg === "NaN") {
            return NaN;
        } else if (arg === "Infinity") {
            return Infinity;
        } else if (arg === "-Infinity") {
            return -Infinity;
        } else if (arg === "[]") {
            return [];
        } else if (arg === "{}") {
            return {};
        } else if (arg === "''") {
            return "";
        } else if (arg === '""') {
            return "";
        } else if (arg === "``") {
            return "";
        } else if (arg[0] === "'" && arg[arg.length - 1] === "'") {
            return arg.slice(1, arg.length - 1);
        } else if (arg[0] === '"' && arg[arg.length - 1] === '"') {
            console.log(arg.slice(1, arg.length - 1));
            return arg.slice(1, arg.length - 1);
        } else if (arg[0] === '`' && arg[arg.length - 1] === '`') {
            return arg.slice(1, arg.length - 1);
        } else if (arg[0] === '[' && arg[arg.length - 1] === ']') {
            return arg.slice(1, arg.length - 1).split(",").map(string => string.trim());
        } else if (arg[0] === '{' && arg[arg.length - 1] === '}') {
            let obj = {};
            arg.slice(1, arg.length - 1).split(",").map(string => string.trim()).forEach(pair => {
                let key = pair.split(":")[0].trim();
                let value = pair.split(":")[1].trim();
                if (value === "true") {
                    value = true;
                } else if (value === "false") {
                    value = false;
                } else if (value === "null") {
                    value = null;
                } else if (value === "undefined") {
                    value = undefined;
                } else if (value === "NaN") {
                    value = NaN;
                } else if (value === "Infinity") {
                    value = Infinity;
                } else if (value === "-Infinity") {
                    value = -Infinity;
                } else if (value === "[]") {
                    value = [];
                } else if (value === "{}") {
                    value = {};
                } else if (value === "''") {
                    value = "";
                } else if (value === '""') {
                    value = "";
                } else if (value === "``") {
                    value = "";
                } else if (value[0] === "'" && value[value.length - 1] === "'") {
                    value = value.slice(1, value.length - 1);
                } else if (value[0] === '"' && value[value.length - 1] === '"') {
                    value = value.slice(1, value.length - 1);
                } else if (value[0] === '`' && value[value.length - 1] === '`') {
                    value = value.slice(1, value.length - 1);
                } else if (value[0] === '[' && value[value.length - 1] === ']') {
                    value = value.slice(1, value.length - 1).split(",").map(string => string.trim());
                }
                obj[key] = value;
            });
            return obj;
        }
    }

    const FunctionWindow = ({changeError}) => {
        const [script, setScript] = useState("");
        const [isRunning, setIsRunning] = useState(false);

        function notRunning(error){
            setIsRunning(false);
            changeError([error.message]);
        }

        function handleClick() {
            if (isRunning){
                return;
            }
            try {
                let text = script.split("(")[0];
                let raw_args = script.split("(")[1].split(")")[0].split(",").map(string => string.trim());
                let args = raw_args.map(arg => JSON.parse(arg));
                console.log(args);

                google.script.run
                    .withFailureHandler(notRunning)
                    .withSuccessHandler(notRunning)[text](...args);
                setIsRunning(true);
            }
            catch (error) {
                notRunning({message:"Invalid Script"});
            }
        }

        return (
            <Stack direction="row" spacing={2} sx={{ pb: 3}}>
                <Divider orientation="vertical" flexItem />
                <TextField
                    id="outlined-basic"
                    onChange={(event) => {
                        setScript(event.target.value);
                    }}
                    label="Function"
                    variant="outlined" />
                <Button variant="outlined" disabled={isRunning} onClick={handleClick}>RUN</Button>
            </Stack>
        )
    }

    const PublishAll = ({changeError, panel, home}) => {
        const [isRunning, setIsRunning] = useState(false);

        function notRunning(error){
            setIsRunning(false);
            changeError([error.message]);
        }

        function handleClick() {
            if (isRunning){
                return;
            }
            try {
                google.script.run
                    .withFailureHandler(notRunning)
                    .withSuccessHandler(notRunning)["publishAll"](panel, home);
                setIsRunning(true);
            }
            catch (error) {
                notRunning({message:"publishAll() Failed"});
            }
        }

        return (
            <div>
                <Button variant="outlined" disabled={isRunning} onClick={handleClick}>Publish All</Button>
            </div>
        )
    }

    const UpdateAll = ({changeError, home}) => {
        const [isRunning, setIsRunning] = useState(false);

        function notRunning(error){
            setIsRunning(false);
            changeError([error.message]);
        }

        function handleClick() {
            if (isRunning){
                return;
            }
            try {
                google.script.run
                    .withFailureHandler(notRunning)
                    .withSuccessHandler(notRunning)["updateTicketHandler"](null, "__FIND_DIFFERENCES__", home);
                setIsRunning(true);
            }
            catch (error) {
                notRunning({message:"updateTicketHandler(null, '__FIND_DIFFERENCES__', home) Failed"});
            }
        }

        return (
            <div>
                <Button variant="outlined" disabled={isRunning} onClick={handleClick}>Update All</Button>
            </div>
        )
    }

    const Delete = ({changeError, home}) => {
        const [script, setScript] = useState("");
        const [isRunning, setIsRunning] = useState(false);

        function notRunning(error){
            setIsRunning(false);
            changeError([error.message]);
        }

        function handleClick() {
            if (isRunning){
                return;
            }
            try {
                let args = script.split(",").map(string => string.trim());
                console.log(args);

                google.script.run
                    .withFailureHandler(notRunning)
                    .withSuccessHandler(notRunning)["deleteTicketHandler"](script, home);
                setIsRunning(true);
            }
            catch (error) {
                notRunning({message:"Invalid Script"});
            }
        }

        return (
            <Stack direction="row" spacing={2} sx={{ pb: 3}}>
                <Divider orientation="vertical" flexItem />
                <TextField
                    id="outlined-basic"
                    onChange={(event) => {
                        setScript(event.target.value);
                    }}
                    label="Items ID"
                    variant="outlined" />
                <Button variant="outlined" disabled={isRunning} onClick={handleClick}>Delete</Button>
            </Stack>
        )
    }

    const CreateEmpty = ({changeError, template, home}) => {
        const [script, setScript] = useState("");
        const [isRunning, setIsRunning] = useState(false);

        function notRunning(error){
            setIsRunning(false);
            changeError([error.message]);
        }

        function handleClick() {
            if (isRunning){
                return;
            }
            try {
                let args = script.split(",").map(string => string.trim());
                console.log(args);

                google.script.run
                    .withFailureHandler(notRunning)
                    .withSuccessHandler(notRunning)["createEmptyHandler"](args, template, home);
                setIsRunning(true);
            }
            catch (error) {
                notRunning({message:"Invalid Script"});
            }
        }

        return (
            <Stack direction="row" spacing={2} sx={{ pb: 3}}>
                <Divider orientation="vertical" flexItem />
                <TextField
                    id="outlined-basic"
                    onChange={(event) => {
                        setScript(event.target.value);
                    }}
                    label="New Item Names"
                    variant="outlined" />
                <Button variant="outlined" disabled={isRunning} onClick={handleClick}>Create Empty</Button>
            </Stack>
        )
    }
</script>